html {
	height: 100%;
  }

  body {
	background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* 예시 */
	font-family: 'Pretendard', sans-serif;
  }

  .box-container {
	display: flex;
	justify-content: space-evenly;  /* 가로 중앙 정렬 */
	align-items: flex-start;  /* 상단 기준 정렬 */
	gap: 40px;                /* 박스 사이 간격 */
	flex-wrap: wrap;          /* 화면 좁으면 아래로 내려옴 */
	margin-top: 20px;         /* 필요에 따라 여백 */
  }

  
  .login-box {
	position: relative;
	top: 50%;
	left: 22%;
	width: 400px;
	height: 250px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
	background: linear-gradient(145deg, #4b4b4b, #6e6e6e);
	border-radius: 16px;
	box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
  }


  form {
	background: rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,.6);
	
  }
  
  .login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
  }
  
  .login-box .user-box {
	position: relative;
  }
  
  .login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
  }
  .login-box .user-box label {
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #03e9f4;
	font-size: 12px;
  }
  
  .login-box form a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
  }